<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="BridgeConfiguration" type="TradePlatform.MT4.Core.Config.BridgeConfiguration, TradePlatform.MT4.Core"/>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="DEBUG" />
        <arg key="showLogName" value="true" />
        <arg key="showDataTime" value="true" />
        <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff" />
      </factoryAdapter>
    </logging>
  </common>

  <runtime>
    <loadFromRemoteSources enabled="true" />
  </runtime>
  <appSettings>
    <add key="NotifyToEmail" value="[YOUR_EMAIL]"/>
  </appSettings>
  <BridgeConfiguration useEventLog="true" wcfBaseAddress="http://localhost:8080/TradePlatform">
    <Hosts>
      <Host name="host1" ipAddress="127.0.0.1" port="2007">
        <Handlers>
          <!-- Experts -->
          <Handler name="MACrossExpert" typeName="TradePlatform.MT4.SDK.Library.Experts.MACrossExpert" assemblyName="TradePlatform.MT4.SDK.Library" />
          <Handler name="MyExpertAdvisor" typeName="MyFirstExpert.MyExpertAdvisor" assemblyName="MyFirstExpert" />
          <Handler name="MagicBoxEA" typeName="MyFirstExpert.MagicBoxEA" assemblyName="MyFirstExpert" />
          <Handler name="GodBoxEA" typeName="MyFirstExpert.GodBoxEA" assemblyName="MyFirstExpert" />
          <Handler name="HappyDayEA" typeName="MyFirstExpert.HappyDayEA" assemblyName="MyFirstExpert" />
          <Handler name="NewsShooterEA" typeName="MyFirstExpert.NewsShooterEA" assemblyName="MyFirstExpert" />
          <!-- Indicators -->
          <Handler name="PrevDayHighLowIndicator" typeName="TradePlatform.MT4.SDK.Library.Indicators.PrevDayHighLowIndicator" assemblyName="TradePlatform.MT4.SDK.Library" />
          <!-- Scripts -->
          <Handler name="ImportOrdersScript" typeName="TradePlatform.MT4.SDK.Library.Scripts.ImportOrdersScript" assemblyName="TradePlatform.MT4.SDK.Library" />
          <Handler name="SendEmailScript" typeName="TradePlatform.MT4.SDK.Library.Scripts.SendEmailScript" assemblyName="TradePlatform.MT4.SDK.Library" />
          <Handler name="UnitTestScript" typeName="TradePlatform.MT4.SDK.Library.Scripts.UnitTestScript" assemblyName="TradePlatform.MT4.SDK.Library" />
          <Handler name="SmokeTestScript" typeName="TradePlatform.MT4.SDK.Library.Scripts.SmokeTestScript" assemblyName="TradePlatform.MT4.SDK.Library">
            <Parameters>
              <Parameter propertyName="TestProperty" propertyValue="25" />
            </Parameters>
          </Handler>
          <!-- Common -->
          <Handler name="TickCounter" typeName="TradePlatform.MT4.SDK.Library.Common.TickCounter" assemblyName="TradePlatform.MT4.SDK.Library" />
          <Handler name="QuoteListener" typeName="TradePlatform.MT4.Core.Handlers.QuoteListener" assemblyName="TradePlatform.MT4.Core" />
        </Handlers>
      </Host>
      <Host name="host2" ipAddress="127.0.0.1" port="2008">
        <Handlers>
        </Handlers>
      </Host>
    </Hosts>
  </BridgeConfiguration>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="[FROM_ADDRESS]">
        <network host="smtp.gmail.com" userName="[GMAIL_LOGIN]" password="[GMAIL_PASS]" port="587" enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <add name="TradePlatformEntities" connectionString="metadata=res://*/TradePlatformModel.csdl|res://*/TradePlatformModel.ssdl|res://*/TradePlatformModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=[PATH_TO_MDF_FILE];integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <remove name="Default" />
        <add name="consoleListener" type="TradePlatform.MT4.Core.Utils.ConsoleBridgeTraceListener, TradePlatform.MT4.Core" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.serviceModel>
    <services>
      <service name="TradePlatform.MT4.Data.TradePlatformDataService">
        <endpoint address="http://localhost:9000/TradePlatform/svc" binding="webHttpBinding" contract="System.Data.Services.IRequestHandler" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
